/* body {
    height: 100vh;
    background-image: url("images/sbg.png");
    background-repeat: no-repeat;
    background-position: center center;
} */

div{
    height: 20px;
    margin: 20px;
    border: 20px solid rgba(225, 0, 0, 1);
    padding: 40px;
    overflow: scroll;
    background-image: url("images/sbg.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: scroll;
    background-origin: content-box;
}