* {
    margin: 0;
    padding: 0;
}

.box {
    width: 150px;
    height: 150px;
}

.a {
    background-color: red;
}

.b {
    background-color: green;
    visibility: hidden;
}

.c {
    background-color: blue;
}

ul {
    list-style-type: none;
    text-align: center;
    min-width: 500px;
}

ul>li {
    display: inline-block;
    /* width: 100%; */
}

ul>li>a {
    text-decoration: none;
    color: #fff;
    background-color: blue;
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 10px 20px;
    /* border-radius: 8px; */
}

ul>li>a:hover {
    background-color: #6a84eb;
}