* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    text-align: center;
    min-width: 500px;
}

ul>li {
    display: inline-block;
}

ul>li>a {
    text-decoration: none;
    color: #fff;
    background-color: blue;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
}

ul>li>a:hover {
    background-color: #6a84eb;
}