.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 300px 300px 300px; */
    grid-auto-rows: minmax(100px, auto);
    /* grid-column-gap: 10px;
    grid-row-gap: 10px; */
    grid-gap: 10px;
}

.box {
    /* min-height: 150px; */
    background-color: #ddd;
}

.box:nth-of-type(odd) {
    background-color: #444;
}