a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: red;
    color: rgb(195, 231, 125);
    border-radius: 10px;
    text-shadow: 2px 1px 0px rgb(242, 170, 36);
}

a:hover {
    color: #fff;
    background-color: blue;
}

/* a:link {
    color: red;
} */

/* a:active {
    color: green;
} */

/* a:visited {
    color: white;
} */

/* a:hover {
    color: aqua;
    cursor: crosshair;
} */