/* body {
     height: 100vh;
    background-color: red;
    background-image: url("image/bf.png");
    background-repeat: no-repeat;
    background-position: center left; 
} */

div {
    height: 100px;
    overflow: scroll;
    margin: 50px;
    border: 20px solid blue;
    background-image: url("image/bf.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-origin: content-box;
}